
.footer {
    background-color: rgb(65, 63, 63);
    color: white;
    padding: 30px;
    text-align: center;
    border-top: 5px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .footer {
    margin: 20px;
    width: auto;
  }
  
  .footer h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .footer-social a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-social a:hover {
    text-decoration: underline;
  }
  